In [1]:
from preamble import *
from scipy.stats import pearsonr

In [2]:
nino4 = pd.read_csv('Data/ENSO/Nino4/data_nino4.csv')

In [3]:
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')

### Monthly Correlation

In [4]:
nino4_correlation = []
nino4_anom_correlation = []

for i in (np.arange(12)+1):
    # Extract nino4 temperature for exactly one month each year
    temp = nino4[nino4['month']==i]['nino4_temp'].values
    # Calculate correlation with duration
    nino4_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])
    
    
    # Extract nino4 anomaly for exactly one month each year
    anom = nino4[nino4['month']==i]['nino4_anom'].values
    # Calculate correlation with duration
    nino4_anom_correlation.append(pearsonr(duration['Intensification Duration'],anom)[0])

In [5]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_nino4':nino4_correlation,'corr_nino4_anom':nino4_anom_correlation})

In [6]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(3).transpose()

month,1,2,3,4,5,6,7,8,9,10,11,12
corr_nino4,0.210,0.278,0.311,0.417,0.446,0.535,0.598,0.608,0.559,0.582,0.566,0.541
corr_nino4_anom,0.209,0.279,0.310,0.418,0.446,0.534,0.599,0.607,0.559,0.583,0.565,0.541

### Quarterly Correlation

In [7]:
q_nino4_correlation = []
q_nino4_anom_correlation = []

for i in (np.arange(4)):
    # Extract nino4 temperature for each quarter each year
    temp = nino4[nino4['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['nino4_temp'].values
    # Calculate correlation with duration
    q_nino4_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])
    
    
    # Extract nino4 anomaly for each quarter each year
    anom = nino4[nino4['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['nino4_anom'].values
    # Calculate correlation with duration
    q_nino4_anom_correlation.append(pearsonr(duration['Intensification Duration'],anom)[0])

In [8]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_nino4':q_nino4_correlation,'corr_nino4_anom':q_nino4_anom_correlation})

In [9]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(3).transpose()

quarter          Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_nino4         0.266    0.482      0.6    0.569
corr_nino4_anom    0.266    0.482      0.6    0.569

### Annual Correlation

In [10]:
# Calculate correlation of annual nino4 temperature with duration
print('Nino4 temperature correlation: {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                nino4.groupby('year').mean()['nino4_temp'].values)[0]))
    
# Calculate correlation of annual nino4 anomaly with duration
print('Nino4 anomaly correlation    : {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                nino4.groupby('year').mean()['nino4_anom'].values)[0]))

Nino4 temperature correlation: 0.575
Nino4 anomaly correlation    : 0.575

### July-Oct Correlation

In [11]:
# Calculate correlation with duration
print ('Nino4 correlation July-Oct: {:.3f}'.format((pearsonr(duration['Intensification Duration'],nino4[nino4['month'].between(7,10)].groupby('year').mean()['nino4_temp'].values)[0])))

Nino4 correlation July-Oct: 0.602