In [1]:
from preamble import *
from scipy.stats import pearsonr

In [2]:
oni = pd.read_csv('Data/ENSO/ONI/data_oni.csv')

In [3]:
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')

### Monthly Correlation

In [4]:
oni_correlation = []

for i in (np.arange(12)+1):
    # Extract nino4 temperature for exactly one month each year
    temp = oni[oni['month']==i]['oni'].values
    # Calculate correlation with duration
    oni_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [5]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_oni':oni_correlation})

In [6]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(3).transpose()

month,1,2,3,4,5,6,7,8,9,10,11,12
corr_oni,-0.011,0.043,0.112,0.196,0.31,0.383,0.405,0.396,0.399,0.402,0.406,0.409

### Quarterly Correlation

In [7]:
q_oni_correlation = []

for i in (np.arange(4)):
    # Extract nino4 temperature for each quarter each year
    temp = oni[oni['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['oni'].values
    # Calculate correlation with duration
    q_oni_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [8]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_oni':q_oni_correlation})

In [9]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(3).transpose()

quarter   Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_oni    0.041     0.31    0.404    0.407

### Annual Correlation

In [12]:
# Calculate correlation of annual nino4 temperature with duration
print('ONI correlation: {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                oni.groupby('year').mean()['oni'].values)[0]))

ONI correlation: 0.380

### July-Oct Correlation

In [13]:
# Calculate correlation with duration
print ('ONI correlation July-Oct: {:.3f}'.format((pearsonr(duration['Intensification Duration'],oni[oni['month'].between(7,10)].groupby('year').mean()['oni'].values)[0])))

ONI correlation July-Oct: 0.406