In [1]:
from preamble import *
from scipy.stats import pearsonr

In [2]:
nino3 = pd.read_csv('Data/ENSO/Nino3/data_nino3.csv')

In [3]:
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')

### Monthly Correlation

In [4]:
nino3_correlation = []

for i in (np.arange(12)+1):
    # Extract nino4 temperature for exactly one month each year
    temp = nino3[nino3['month']==i]['nino3'].values
    # Calculate correlation with duration
    nino3_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [5]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_nino3':nino3_correlation})

In [6]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(3).transpose()

month,1,2,3,4,5,6,7,8,9,10,11,12
corr_nino3,-0.063,0.02,0.101,0.191,0.261,0.347,0.291,0.318,0.403,0.42,0.428,0.423

### Quarterly Correlation

In [7]:
q_nino3_correlation = []

for i in (np.arange(4)):
    # Extract nino4 temperature for each quarter each year
    temp = nino3[nino3['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['nino3'].values
    # Calculate correlation with duration
    q_nino3_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [8]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_nino3':q_nino3_correlation})

In [9]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(3).transpose()

quarter     Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_nino3    0.006    0.284    0.347    0.426

### Annual Correlation

In [10]:
# Calculate correlation of annual nino4 temperature with duration
print('Nino3 temperature correlation: {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                nino3.groupby('year').mean()['nino3'].values)[0]))

Nino3 temperature correlation: 0.362

### July-Oct Correlation

In [20]:
# Calculate correlation with duration
print ('Nino3 correlation July-Oct: {:.3f}'.format((pearsonr(duration['Intensification Duration'],
                    nino3[nino3['month'].between(7,10)].groupby('year').mean()['nino3'].values)[0])))

Nino3 correlation July-Oct: 0.373