In [1]:
from preamble import *
from scipy.stats import pearsonr
from sklearn.linear_model import LinearRegression

In [2]:
pdo = pd.read_csv('Data/PDO/data_PDO.csv')
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')
nino4 = pd.read_csv('Data/ENSO/Nino4/data_nino4.csv')

## Seasonal Correlation (July-September)

In [3]:
season_nino4_anom = nino4[nino4['month'].between(7,9)].groupby('year')['nino4_anom'].mean().reset_index()
season_nino4_temp = nino4[nino4['month'].between(7,9)].groupby('year')['nino4_temp'].mean().reset_index()
season_pdo = pdo[pdo['month'].between(7,10)].groupby('YEAR')['PDO'].mean().reset_index()

In [4]:
season_pdo.columns = ['year', 'pdo']

### Nino4 anomaly + PDO

In [5]:
variables = season_nino4_anom.merge(season_pdo,on='year')

In [7]:
variables['nino4+pdo'] = variables['nino4_anom']+variables['pdo']

In [16]:
variables.head()

   year  nino4_anom     pdo  nino4+pdo
0  1951   -0.316667 -0.2675  -0.584167
1  1952   -0.613333 -0.7725  -1.385833
2  1953    0.033333 -0.2325  -0.199167
3  1954   -1.033333  0.0225  -1.010833
4  1955   -0.870000 -2.3375  -3.207500

In [17]:
pearsonr(variables['nino4+pdo'],duration['Intensification Duration'])[0]

0.41121580696825821