In [25]:
from preamble import *
from scipy.stats import pearsonr
from sklearn.preprocessing import normalize

In [14]:
pdo = pd.read_csv('Data/PDO/data_PDO.csv')

In [15]:
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')

### Monthly Correlation

In [17]:
pdo_correlation = []

for i in (np.arange(12)+1):
    # Extract pdo temperature for exactly one month each year
    temp = pdo[pdo['month']==i]['PDO'].values
    # Calculate correlation with duration
    pdo_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [18]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_pdo':pdo_correlation})

In [19]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(2).transpose()

month       1     2    3     4     5     6     7     8     9     10    11   12
corr_pdo  0.25  0.15  0.2  0.23  0.18  0.18  0.19  0.29  0.28  0.26  0.24  0.3

### Quarterly Correlation

In [20]:
q_pdo_correlation = []

for i in (np.arange(4)):
    # Extract pdo temperature for each quarter each year
    temp = pdo[pdo['month'].between(3*i+1,3*(i+1))].groupby('YEAR').mean()['PDO'].values
    # Calculate correlation with duration
    q_pdo_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [21]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_pdo':q_pdo_correlation})

In [22]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(2).transpose()

quarter   Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_pdo     0.21     0.21     0.28     0.29

### Annual Correlation

In [23]:
y_pdo_correlation = []

# Calculate correlation of annual pdo temperature with duration
print('Annual PDO correlation coefficient: {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                pdo.groupby('YEAR').mean()['PDO'].values)[0]))

Annual PDO correlation coefficient: 0.303

In [68]:
# Extract the month of occurrence of cyclones
s_duration = pd.read_csv('Data/computed-data/computed_cyclone-metrics_JTWC.csv')
month_data = pd.read_csv('Data/IBTrACS/data_ibtracs_JTWC.csv')
month_data = month_data.groupby('CycNo').apply(lambda x: x['S_TIME'].iloc[0])
month_data = pd.to_datetime('1858-11-17', format='%Y-%m-%d') + pd.to_timedelta(month_data, unit='d')
month_data = month_data.to_frame().reset_index()
month_data.columns = ['CycNo','TIME']
month_data['MONTH'] = month_data['TIME'].apply(lambda x: x.month)

In [71]:
s_duration = s_duration.merge(month_data, on='CycNo', how='inner')

In [75]:
season7_10 = pdo[pdo['month'].between(7,9)].groupby('YEAR').mean()['PDO'].values
duration7_10 = s_duration[s_duration['MONTH'].between(7,9)].groupby('YEAR')['Intensification Duration'].mean().values
pearsonr(duration7_10, season7_10)[0]

0.15870772082508139

In [76]:
s_duration

,CycNo,YEAR,VMAX,Intensification Rate,Intensification Duration,TIME,MONTH
0,5453.0,1951,101.853956,6.151259,1.000000,1951-03-20 00:00:00,3
1,5459.0,1951,131.785661,9.695241,1.250000,1951-04-29 12:00:00,4
2,5468.0,1951,82.582599,8.169853,0.250000,1951-06-25 12:00:00,6
3,5481.0,1951,101.853956,3.561106,2.250000,1951-07-26 12:00:00,7
4,5490.0,1951,82.582599,2.723284,1.250000,1951-08-10 12:00:00,8
5,5495.0,1951,82.582599,3.879285,0.500000,1951-08-30 06:00:00,8
6,5504.0,1951,68.540112,2.297219,0.236111,1951-09-16 00:00:00,9
7,5506.0,1951,73.178898,-2.274065,0.243056,1951-09-24 00:00:00,9
8,5511.0,1951,101.853956,3.317474,2.250000,1951-10-09 00:00:00,10
9,5517.0,1951,82.582599,3.505078,0.750000,1951-10-23 06:00:00,10
10,5518.0,1951,106.761290,4.774875,1.750000,1951-10-26 12:00:00,10
11,5521.0,1951,73.178898,2.312002,0.500000,1951-11-18 00:00:00,11
12,5527.0,1951,101.853956,3.294029,3.250000,1951-12-03 00:00:00,12
13,5530.0,1951,82.582599,7.010156,0.250000,1951-12-11 06:00:00,12
14,5563.0,1952,68.540112,6.821104,0.076389,1952-06-10 00:00:00,6
15,5568.0,1952,92.144418,9.440141,0.250000,1952-06-28 00:00:00,6
16,5583.0,1952,68.540112,2.297219,0.236111,1952-08-10 12:00:00,8
17,5598.0,1952,142.007920,9.172377,1.750000,1952-09-13 12:00:00,9
18,5609.0,1952,101.853956,8.322917,0.750000,1952-10-15 12:00:00,10
19,5617.0,1952,142.007920,8.920990,2.000000,1952-10-21 12:00:00,10
20,5620.0,1952,131.785661,6.781683,2.250000,1952-10-28 12:00:00,10
21,5621.0,1952,82.582599,2.723284,1.250000,1952-11-09 00:00:00,11
22,5623.0,1952,92.144418,5.895533,0.750000,1952-11-15 12:00:00,11
23,5636.0,1952,111.702319,8.628006,1.000000,1952-12-16 12:00:00,12
24,5639.0,1952,142.007920,7.576503,2.250000,1952-12-27 18:00:00,12
25,5649.0,1953,82.582599,-4.474175,0.194444,1953-02-18 00:00:00,2
26,5664.0,1953,101.853956,4.161459,1.750000,1953-05-28 00:00:00,5
27,5668.0,1953,131.785661,9.753587,1.250000,1953-06-25 00:00:00,6
28,5673.0,1953,82.582599,9.318462,0.243056,1953-07-30 00:00:00,7
29,5675.0,1953,142.007920,6.887730,2.500000,1953-08-08 06:00:00,8
...,...,...,...,...,...,...,...
821,12000.0,2008,100.000001,5.000000,1.750000,2008-04-13 00:00:00,4
822,12005.0,2008,135.000002,10.714286,1.500000,2008-05-06 18:00:00,5
823,12008.0,2008,125.000002,16.250000,0.750000,2008-05-26 00:00:00,5
824,12019.0,2008,90.000001,10.000000,0.250000,2008-07-11 06:00:00,7
825,12035.0,2008,100.000001,5.357143,1.500000,2008-08-16 00:00:00,8
826,12045.0,2008,125.000002,9.642857,1.500000,2008-09-07 12:00:00,9
827,12049.0,2008,125.000002,6.666667,2.000000,2008-09-17 12:00:00,9
828,12050.0,2008,140.000002,8.888889,2.000000,2008-09-23 12:00:00,9
829,12078.0,2008,85.000001,5.625000,0.750000,2008-12-08 06:00:00,12
830,12104.0,2009,115.000002,13.750000,0.750000,2009-04-30 18:00:00,4
831,12108.0,2009,75.000001,3.333333,0.500000,2009-06-13 06:00:00,6
832,12119.0,2009,65.000001,2.500000,0.041667,2009-07-15 06:00:00,7
833,12125.0,2009,80.000001,6.250000,0.250000,2009-08-03 06:00:00,8
834,12132.0,2009,120.000002,6.000000,2.250000,2009-08-15 18:00:00,8
835,12137.0,2009,65.000001,0.000000,0.041667,2009-08-26 06:00:00,8
836,12148.0,2009,140.000002,8.611111,2.000000,2009-09-11 12:00:00,9
837,12151.0,2009,90.000001,9.166667,0.500000,2009-09-25 00:00:00,9
838,12154.0,2009,135.000002,13.500000,1.000000,2009-09-27 00:00:00,9
839,12157.0,2009,150.000002,6.071429,3.250000,2009-09-28 12:00:00,9
840,12161.0,2009,140.000002,6.041667,2.750000,2009-10-13 18:00:00,10
841,12165.0,2009,90.000001,7.500000,0.750000,2009-10-25 18:00:00,10
842,12172.0,2009,155.000002,15.833334,1.250000,2009-11-21 06:00:00,11
843,12216.0,2010,80.000001,5.000000,0.250000,2010-07-17 00:00:00,7
844,12224.0,2010,65.000001,0.000000,0.041667,2010-08-20 18:00:00,8
845,12229.0,2010,105.000002,4.687500,1.750000,2010-08-27 18:00:00,8
846,12236.0,2010,65.000001,7.500000,0.013889,2010-09-06 06:00:00,9
847,12239.0,2010,105.000002,5.312500,1.750000,2010-09-13 06:00:00,9
848,12241.0,2010,90.000001,6.000000,1.000000,2010-09-19 12:00:00,9
849,12250.0,2010,160.000002,7.115385,3.000000,2010-10-11 12:00:00,10
850,12253.0,2010,115.000002,5.250000,2.250000,2010-10-20 06:00:00,10