In [1]:
from preamble import *
from scipy.stats import pearsonr

In [2]:
nino34 = pd.read_csv('Data/ENSO/Nino34/data_nino34.csv')

In [3]:
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')

### Monthly Correlation

In [4]:
nino34_correlation = []

for i in (np.arange(12)+1):
    # Extract nino4 temperature for exactly one month each year
    temp = nino34[nino34['month']==i]['nino34'].values
    # Calculate correlation with duration
    nino34_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [5]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_nino34':nino34_correlation})

In [6]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(3).transpose()

month,1,2,3,4,5,6,7,8,9,10,11,12
corr_nino34,0.019,0.097,0.139,0.234,0.334,0.43,0.44,0.446,0.441,0.452,0.438,0.441

### Quarterly Correlation

In [7]:
q_nino34_correlation = []

for i in (np.arange(4)):
    # Extract nino4 temperature for each quarter each year
    temp = nino34[nino34['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['nino34'].values
    # Calculate correlation with duration
    q_nino34_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [8]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_nino34':q_nino34_correlation})

In [9]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(3).transpose()

quarter      Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_nino34    0.078    0.352     0.45    0.447

### Annual Correlation

In [10]:
# Calculate correlation of annual nino4 temperature with duration
print('Nino34 temperature correlation: {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                nino34.groupby('year').mean()['nino34'].values)[0]))

Nino34 temperature correlation: 0.433

### July-Oct Correlation

In [23]:
# Calculate correlation with duration
print ('Nino34 correlation July-Oct: {:.3f}'.format((pearsonr(duration['Intensification Duration'],
                    nino34[nino34['month'].between(6,10)].groupby('year').mean()['nino34'].values)[0])))

Nino34 correlation July-Oct: 0.461