In [1]:
from preamble import *
from scipy.stats import pearsonr

In [2]:
nino4 = pd.read_csv('Data/Nino4/data_nino4.csv')

In [3]:
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')

### Monthly Correlation

In [4]:
nino4_correlation = []
nino4_anom_correlation = []

for i in (np.arange(12)+1):
    # Extract nino4 temperature for exactly one month each year
    temp = nino4[nino4['month']==i]['nino4_temp'].values
    # Calculate correlation with duration
    nino4_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])
    
    
    # Extract nino4 anomaly for exactly one month each year
    anom = nino4[nino4['month']==i]['nino4_anom'].values
    # Calculate correlation with duration
    nino4_anom_correlation.append(pearsonr(duration['Intensification Duration'],anom)[0])

In [5]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_nino4':nino4_correlation,'corr_nino4_anom':nino4_anom_correlation})

In [6]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(2).transpose()

month,1,2,3,4,5,6,7,8,9,10,11,12
corr_nino4,0.13,0.18,0.17,0.25,0.29,0.38,0.46,0.48,0.43,0.45,0.42,0.41
corr_nino4_anom,0.13,0.18,0.17,0.25,0.29,0.38,0.47,0.48,0.43,0.45,0.42,0.41

### Quarterly Correlation

In [7]:
q_nino4_correlation = []
q_nino4_anom_correlation = []

for i in (np.arange(4)):
    # Extract nino4 temperature for exactly one month each year
    temp = nino4[nino4['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['nino4_temp'].values
    # Calculate correlation with duration
    q_nino4_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])
    
    
    # Extract nino4 anomaly for exactly one month each year
    anom = nino4[nino4['month'].between(3*i+1,3*(i+1))].groupby('year').mean()['nino4_anom'].values
    # Calculate correlation with duration
    q_nino4_anom_correlation.append(pearsonr(duration['Intensification Duration'],anom)[0])

In [8]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_nino4':q_nino4_correlation,'corr_nino4_anom':q_nino4_anom_correlation})

In [9]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(2).transpose()

quarter          Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_nino4          0.16     0.32     0.47     0.43
corr_nino4_anom     0.16     0.32     0.47     0.43