In [1]:
from preamble import *
from scipy.stats import pearsonr

In [3]:
pdo = pd.read_csv('Data/PDO/data_PDO.csv')
duration = pd.read_csv('Data/computed-data/computed_annual-intensification-duration_JTWC.csv')
nino4 = pd.read_csv('Data/ENSO/Nino4/data_nino4.csv')

### Seasonal Regression (July-September)

In [16]:
pdo.head()

   month  YEAR   PDO        TIME
0      1  1951 -1.54  1951-01-01
1      1  1952 -2.01  1952-01-01
2      1  1953 -0.57  1953-01-01
3      1  1954 -1.32  1954-01-01
4      1  1955  0.20  1955-01-01

In [18]:
season_nino4_anom = nino4[nino4['month'].between(7,9)].groupby('year')['nino4_anom'].mean().reset_index()
season_nino4_temp = nino4[nino4['month'].between(7,9)].groupby('year')['nino4_temp'].mean().reset_index()
season_pdo = pdo[pdo['month'].between(7,9)].groupby('YEAR')['PDO'].mean().reset_index()

In [20]:
season_pdo.head()

   YEAR       PDO
0  1951 -0.250000
1  1952 -0.913333
2  1953  0.053333
3  1954 -0.143333
4  1955 -2.183333

In [19]:
variables = season_nino4_anom.merge(season_pdo,on='')

    YEAR       PDO
0   1951 -0.250000
1   1952 -0.913333
2   1953  0.053333
3   1954 -0.143333
4   1955 -2.183333
5   1956 -0.966667
6   1957  0.940000
7   1958  0.746667
8   1959 -0.656667
9   1960 -0.530000
10  1961 -1.453333
11  1962 -1.173333
12  1963 -0.526667
13  1964 -0.740000
14  1965  0.106667
15  1966 -0.140000
16  1967 -0.950000
17  1968  0.260000
18  1969 -0.456667
19  1970 -1.326667
20  1971 -0.713333
21  1972 -0.136667
22  1973 -0.740000
23  1974  0.210000
24  1975 -0.900000
25  1976  0.903333
26  1977  0.093333
27  1978 -0.746667
28  1979  0.786667
29  1980  0.280000
30  1981  0.480000
31  1982  0.603333
32  1983  2.090000
33  1984  0.153333
34  1985  0.773333
35  1986  0.606667
36  1987  2.426667
37  1988  0.153333
38  1989  0.323333
39  1990  0.253333
40  1991  0.303333
41  1992  1.390000
42  1993  2.200000
43  1994 -0.696667
44  1995  1.026667
45  1996  0.290000
46  1997  2.443333
47  1998 -0.490000
48  1999 -1.050000
49  2000 -1.030000
50  2001 -1.150000
51  2002  0.240000
52  2003  0.616667
53  2004  0.680000
54  2005  0.150000
55  2006 -0.413333
56  2007  0.306667
57  2008 -1.640000
58  2009  0.026667
59  2010 -1.310000

In [8]:
pdo_correlation = []

for i in (np.arange(12)+1):
    # Extract pdo temperature for exactly one month each year
    temp = pdo[pdo['month']==i]['PDO'].values
    # Calculate correlation with duration
    pdo_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [9]:
corr_table = pd.DataFrame({'month':(np.arange(12)+1),'corr_pdo':pdo_correlation})

In [10]:
monthly_corr = corr_table.set_index('month')
monthly_corr.round(2).transpose()

month,1,2,3,4,5,6,7,8,9,10,11,12
corr_pdo,0.28,0.18,0.27,0.29,0.19,0.16,0.18,0.25,0.24,0.23,0.28,0.33

### Quarterly Correlation

In [16]:
q_pdo_correlation = []

for i in (np.arange(4)):
    # Extract pdo temperature for each quarter each year
    temp = pdo[pdo['month'].between(3*i+1,3*(i+1))].groupby('YEAR').mean()['PDO'].values
    # Calculate correlation with duration
    q_pdo_correlation.append(pearsonr(duration['Intensification Duration'],temp)[0])

In [17]:
q_corr_table = pd.DataFrame({'quarter':['Jan-Mar','Apr-Jun','Jul-Sep','Oct-Dec'],'corr_pdo':q_pdo_correlation})

In [22]:
q_corr = q_corr_table.set_index('quarter')
q_corr.round(2).transpose()

quarter   Jan-Mar  Apr-Jun  Jul-Sep  Oct-Dec
corr_pdo     0.26     0.23     0.24     0.31

### Annual Correlation

In [20]:
y_pdo_correlation = []

# Calculate correlation of annual pdo temperature with duration
print('PDO correlation coefficient: {:.3f}'.format(pearsonr(duration['Intensification Duration'],
                                                pdo.groupby('YEAR').mean()['PDO'].values)[0]))

PDO correlation coefficient: 0.317